<h1>About Me</h1>
<p>With 4 years of a computer science Honours degree under my belt, Web develpemnt has become a real passion of mine.
When developing for a client, communication is treated as the number one priority. Iterative development is what makes
the client truly happy with their finished product.</p>
<br>
<p>Check out my Portfolio for a better idea of how I can hone my Design skills to catch the users eye and keep them interested in your product through your website.</p>
