<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">I love it when a design plan comes together. There's no better feeling than seeing a web application taking shape in front of your eyes. </p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>
</div>
